*{
	margin:0px;
	padding:0px;
	}
 header{
	width:100%;
	height:100px;
	background-color:#191919;
	position:sticky;
	z-index: 3;
	top:0px;
}
#headerh1{
	margin-left:650px;
	color:white;
	padding-top:30px;
	color:red;
	font-family:Lucida Calligraphy;
	font-size:20px;
	
}
#d1img{
	width:310px;
	height:80px;
	margin-left:600px;
	background-image:url(modernart.png);
}
#h41{
	margin-left:150px;
	float:left;
	color:white;
	margin-top:40px;
}
#h42{
	float:left;
	color:white;
	margin-top:40px;
	margin-left:20px;
}
header h4 img{
float:left;
width:20px;
margin-left:20px;
}
#div1{
   display:inline-block;
	padding-bottom:100px;
	margin-right:250px;
	position:absolute;
	top:30px;
	left:1200px;
	
	}
	#div2{
   display:inline-block;
	padding-bottom:100px;
	margin-right:250px;
	position:absolute;
	top:30px;
	left:1250px;
	
	}
#div3{
   display:inline-block;
	padding-bottom:100px;
	margin-right:250px;
	position:absolute;
	top:30px;
	left:1300px;
	
	}


	nav{
	width:100%;
	height:50px;
	border-top:1px solid white;
	background-color:#191919;
	color:white;
}
nav ol li{
	display:inline-block;
	width:180px;
	font-weight:bold;
	text-align:center;
	padding:10px 30px;
}
nav ol li:hover{
	background-color:#575757;
	border-radius:25px;
	cursor:pointer;
}
#sub{
	display:none;
}
li:hover #sub{
	display:block;
	position:absolute;
	background-color:#191919;
	border-radius:25px;
	margin-top:10px;
}
#sub li{
	display:block;
}
#nav2{
	height:80px;
	background-color:#191919;
}
#nav2div1,#nav2div2,#nav2div3{
	display:flex;
	height:80px;
	width:33.2%;
	float:left;
}
#nav2div1p,#nav2div2p,#nav2div3p {
}
#nav2div1{
	border-right:1px solid white;
	padding:0px;
	}
#nav2div1divimg,#nav2div1p{
	float:left;
}
#nav2div1divimg{
	background-color:#191919;
	float:left;
	height:auto;
	margin-top:21px;
	margin-left:130px;
}
#nav2div1p{
	padding:0px;
	width:300px;
	margin-top:25px;
	font-size:20px;
	margin-left:20px;
	color:white;
}
#nav2div2{
	border-right:1px solid white;
	padding:0px;
	}
#nav2div2divimg,#nav2div2p{
	float:left;
}
#nav2div2divimg{
	background-color:#191919;
	float:left;
	height:auto;
	margin-top:24px;
	margin-left:140px;
}
#nav2div2p{
	padding:0px;
	width:300px;
	margin-top:25px;
	font-size:20px;
	margin-left:20px;
	color:white;
}
#nav2div3{
	padding:0px;
	}
#nav2div3divimg,#nav2div3p{
	float:left;
}
#nav2div3divimg{
	background-color:#191919;
	float:left;
	height:auto;
	margin-top:24px;
	margin-left:130px;
}
#nav2div3p{
	padding:0px;
	width:300px;
	margin-top:25px;
	font-size:20px;
	margin-left:20px;
	color:white;
}
#s1{
	border:1px solid black;
	height:700px;
	width:100%;
	background-image:url(light;
	background-size:100% 100%;
}
#sectionh11{
	font-family:Lucida Calligraphy;
	font-size:50px;
	color:yellow;
	text-align:left;
	margin-left:100px;
	margin-top:200px;
	}
#sectionh12{
	font-family:Colonna MT;
	color:pink;
	font-size:70px;
	text-align:left;
	margin-left:100px;
	}
#sectionh3{
   background-color:skyblue;
   width:450px;
   margin-left:100px;
   padding-left:30px;
   margin-top:30px;
   }
   h2{
   background-color:white;
	border-radius:25px;
	width:70px;
	margin-left:300px;
   padding-left:30px;
   margin-top:40px;
	}
#s2{
	
	margin:100px 250px 100px 250px;
	height:785px;
 }
 #section1{
	height:507px;
	width:30%;
	margin-right:0px;
	background-image:url("pendantlight.png");
	background-size:100% 100%;
	float:left;
	transition:0.7s;
    } 
#section2{
	height:230px;
	width:65%;
	background-image:url("offonceils.png");
	background-size:100% 100%;
	float:right;
	transition:0.7s;
}
#section3{
	margin-top:45px;
	margin-left:45px;
	height:230px;
	width:30%;
	background-image:url("offer.png");
	background-size:100% 100%;
	float:left;
	transition:0.7s;
}
 #section4{
	margin-top:45px;
	height:507px;
	width:30%;
	margin-right:0px;
	background-image:url("flower.png");
	background-size:100% 100%;
	float:right;
	transition:0.7s;
} 
#section5{
	margin-top:45px;
	height:230px;
	width:65%;
	background-image:url("decorative.png");
	background-size:100% 100%;
	float:left;
	transition:0.7s;
}
#section1:hover{
	opacity:0.5;
}
#section2:hover{
	opacity:0.5;
}
#section3:hover{
	opacity:0.5;
}
#section4:hover{
	opacity:0.5;
}
#section5:hover{
	opacity:0.5;
}
#s3{
	height:1000px;
	width:100%;
}
#s3s1{
	height:100px;
	width:100%;
	text-align:center;
}
#s3s1h1{
	margin-top:10px;
	font-size:45px;
	color:grey;
	font-family:Consolas;
}
#s3s1h4{
	margin-top:10px;
	font-size:20px;
	font-family:Consolas;
}
#s3s2{
	margin-top:50px;
	margin-left:153px;
	height:350px;
	width:80%;	
	padding:0px;
}
#s3s2d1,#s3s2d2,#s3s2d3,#s3s2d4{
	margin-left:18px;
	float:left;
	width:23%;
	height:350px;
	transition:3s;
}
#s3s2d1{
	background-image:url(coffeecup1;
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s2d1p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s2d2{
	background-image:url(/bulb1;
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s2d2p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s2d3{
	background-image:url(/bracelet1.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s2d3p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s2d4{
	background-image:url(/bangles1.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s2d4p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s3{
	margin-top:50px;
	margin-left:153px;
	height:350px;
	width:80%;	
	padding:0px;
}
#s3s3d1,#s3s3d2,#s3s3d3,#s3s3d4{
	margin-left:18px;
	float:left;
	width:23%;
	height:350px;
	transition:3s;
}
#s3s3d1{
	background-image:url(/sbrown.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s3d1p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s3d2{
	background-image:url(/plate1.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s3d2p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s3d3{
	background-image:url(/jol1.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s3d3p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}
#s3s3d4{
	background-image:url(/feather1.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}
#s3s3d4p{
	margin-top:300px;
	text-align:center;
	font-family:Consolas;
	font-size:25px;
	color:white;
}

#s3s2d1:hover{
	background-image:url(/coffeecup2.jpg);
	background-size:100% 100%;
}
#s3s2d2:hover{
	background-image:url(/bulb2.jpg);
	background-size:100% 100%;
}
#s3s2d3:hover{
	background-image:url(/bracelet2.jpg);
	background-size:100% 100%;
}
#s3s2d4:hover{
	background-image:url(/bangles2.jpg);
	background-size:100% 100%;
}
#s3s3d1:hover{
	background-image:url(sblue.jpg);
	background-size:100% 100%;
}
#s3s3d2:hover{
	background-image:url(plate2.jpg);
	background-size:100% 100%;
}
#s3s3d3:hover{
	background-image:url(jol2.jpg);
	background-size:100% 100%;
}
#s3s3d4:hover{
	background-image:url(feather2.jpg);
	background-size:100% 100%;
}
#s4{
 border:1px solid white;
 width:100%;
 height:450px;
 background-image:url(footerimg.jpg);
 }
 #s4 img{
	float:left;
	margin-left:40px;
	}
#s4d1{
float:right;
margin-right:40px;
margin-top:250px;
}	
#s4h1{
	text-align:center;
	width:900px;
    font-size:50px;
	color:#000230;
	margin-left:300px;
	margin-top:70px;
	}
#s4h11{
	text-align:center;
	width:500px;
    font-size:40px;
	color:#BA2C06;
	margin-left:500px;
	margin-top:20px;
}
#s4p{
	text-align:left;
	width:70%;
	text-indent:80px;
    font-size:24px;
	color:#3A0603;
	margin-left:200px;
	margin-top:20px;
	}
	
#s5{
	height:1500px;
	width:100%;
}
#s5s1{
	height:110px;
	width:100%;
	text-align:center;
}
#s5s1h1{
	margin-top:60px;
	font-size:45px;
	color:grey;
	font-family:Consolas;
}

#s5s2{
	margin-top:40px;
	margin-left:153px;
	height:350px;
	width:80%;	
	padding:0px;
}
#s5s2d1,#s5s2d2,#s5s2d3{
	margin-left:30px;
	float:left;
	width:30%;
	height:300px;
}
#s5s2d1{
	background-image:url(image4.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:4px;
}

#s5s2d2{
	background-image:url(image5.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#s5s2d3{
	background-image:url(image6.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#s5s2d1:hover{
	opacity:0.5;
}
#s5s2d2:hover{
	opacity:0.5;
}
#s5s2d3:hover{
	opacity:0.5;
}
#s5s2d11{
	border:1px solid white;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top:250px;
	background-color:white;
	margin-left:40px;
	height:80px;
	width:80%;	
	padding:0px;
	}
#s5s2d12{
	border:1px solid white;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top:250px;
	background-color:white;
	margin-left:40px;
	height:80px;
	width:80%;	
	padding:0px;
	}
#s5s2d13{
	border:1px solid white;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top:250px;
	background-color:white;
	margin-left:40px;
	height:80px;
	width:80%;	
	padding:0px;
	}	
#dh5{
	  width:270px;
	  height:50px;
	  margin:15px 10px;
      font-size:19px;
	  text-align:center;
	  margin-top:30px;
	  z-index:1000;
	  
}	  
#s5s3{
	background-image:url(footer1.png);
	margin-top:70px;
	margin-left:160px;
	height:200px;
	width:80%;	
	padding:0px;
}
#s6s1{
	background-color:#F5D000;
	margin-top:50px;
	height:130px;
	width:100%;	
	padding:0px;
}
#s6h2{
	float:left;
	font-family:Consolas;
	font-size:30px;
	width:450px;
	height:50px;
	background-color:#F5D000;
	margin-left:200px;
	margin-top:40px;
}
#s6d{
float:right;
height:100px;
width:500px;
margin-right:300px;
}	
#s6d1{
	margin-top:40px;
	float:left;
	position:absolute;
	z-index:1;
}
#s6d1in{
	border-radius:30px;
	height:40px;
	width:450px;
	border:0px;
}
#s6d1in::placeholder{
	font-size:20px;
}
#s6d2{
	margin-top:40px;
	float:right;
	position:absolute;
	z-index:2;
}
#s6d2in{
	border-radius:30px;
	height:43px;
	width:150px;
	margin-left:304px;
	font-size:20px;
	background-color:black;
	color:white;
	border:0px;
}
#s6d2in:hover{
 opacity:0.7;
 }
 #s7{
  height:400px;
  width:100%;
  background-color:#191919;
 }
 #s7d{
   height:400px;
  width:80%;
  display:flex;
  margin:0px 150px;
  background-color:#191919;
 }
 #s7a1{
  height:400px;
  width:30%;
  }
  #s7a2{
  height:400px;
  width:20%;
 }
 #s7a3{
  height:400px;
  width:30%;
 }
 #s7a4{
  height:400px;
  width:20%;
 }
  #s7a1d1{
  background-image:url(modernart.png);
  width:300px;
  height:100px;
  margin-left:30px;
  margin-top:90px;
 }
 #s7a1p{
   width:250px;
   height:100px;
   color:white;
   margin-left:70px;
   margin-top:20px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }
#s7a2h4{
   width:100px;
   height:50px;
      color:white;
   margin-left:70px;
   margin-top:70px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }
#s7a2p{
   width:150px;
   height:200px;
   color:white;
   margin-left:70px;
   margin-top:20px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }
#s7a3h4{
   width:100px;
   height:50px;
      color:white;
   margin-left:100px;
   margin-top:70px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }   
#s7a3p{
   width:180px;
   height:200px;
   color:white;
   margin-left:100px;
   margin-top:20px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   } 
#s7a4h4{
	
   width:170px;
   height:50px;
      color:white;
   margin-left:40px;
   margin-top:70px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }   
 #s7a4p{
   width:180px;
   height:200px;
   color:white;
   margin-left:40px;
   margin-top:20px;
   font-family:Consolas;
   line-height:30px;
   font-size:18px;
   }  
#s8{
 border:1px solid #191919;
 background-color:#191919;
 width:100%;
 height:200px;
 }
 #s8d1{
 width:600px;
 height:30px;
 margin-left:450px;
 margin-top:40px;
 display:flex;
 justify-content:center;
 }
 #s8d1p{
	width:350px;
	font-size:19px;
	color:white;
	display:flex;
	justify-content:center;
 }
 #s8d2{
 display:flex;
 width:20%;
 height:40px;
 margin-left:600px;
 margin-top:0px;
 }
 #s8d2d1,#s8d2d2,#s8d2d3,#s8d2d4,#s8d2d5{
	display:flex;
	justify-content:center;
	align-content:center;
	width:20%;
	height:40px;
}
#s8d2d1i{
	height:20px;
	width:20px;
	margin-top:10px;
}
#hr1{
	background-color:#191919;
	border:1px solid grey;
	margin-top:50px;
	width:60%;
	margin-left:300px;
}


 






